{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

  <header id="acceuil" class="header_bg">
      <div class="">
        <div class="row header_item">
            <div class="mx-5 col-md-8 header_text">
                <span class="text-capitalize text1 ">Forever October</span>
                <p class="text1">LA monde , le choix le prix </p>
                <p class="text2 col-md-10">En style , on se lasse des détours les plus charmant,des images les plus inattendues ,des mots les plus friands, des comparaisons les plus heureuses,jamais de la clarité.>></p>
                <div class="haeder_btn_item">
                    <a href="#contact" class="btn  header_btn btn1 scrollto"> <i class="fa fa-message"></i> Contacte <img src="" alt=""></a>
                    <a href="#boutique" class="btn  header_btn btn2 scrollto"> <i class="fa fa-shopping-cart"></i> Boutique <img src="" alt=""></a>
                </div>
                <div class="mx-5 my-5">
                    <div class="logo">
                        <img src="img/logo/icons8_facebook_50px.png" alt="">
                        <img src="img/logo/icons8_instagram_50px.png" alt="">
                        <img src="img/logo/icons8_twitter_circled_50px.png" alt="">
                        <img src="img/logo/icons8_facebook_messenger_50px.png" alt="">

                    </div>
                    <div class="text4 text-center h4">Suivez-nous</div>


                </div>


            </div>


        </div>
      </div>
  </header>
    <section>
        <h5 id="propos" class="h2 text-center">A propos</h5>
        <div class="">
            <div class="propos_item ">
                <div class="propos_img">
                    <img height="500px" src="{{ asset('img/gal12.jpg') }}" alt="">
                </div>

                <div class="propos_text  ">
                    <hr class="back w-75">
                    <div class="text4 text-center h2 back w-75">Fat fashion</div>
                    <br>
                    <hr class="bg-warning w-75">
                  <div class=" text-center  w-75 h4  text4 text-black">
                      Entreprise americaine de création et d'innovation dans le domaine de la mode qui de nos jours evolue vite
                      Debuter le 20 juin 2003 nous avons gravit les échéllons de par nos prestation
                  </div>

                    <ul class=" text-center w-75">
                        <li class="list-group-item">Crée le 24 octobre 2003</li>
                        <li class="list-group-item">Directeur : enthony delarouse</li>
                        <li class="list-group-item">  Président : Madame biasou Kolani</li>
                        <li class="list-group-item">  Siège : Togo -lomé</li>
                    </ul>
                    <div>
                        <div class="row logo2 w-75">
                            <img src="img/logo/icons8_facebook_50px.png" alt="">
                            <img src="img/logo/icons8_instagram_50px.png" alt="">
                            <img src="img/logo/icons8_twitter_circled_50px.png" alt="">
                            <img src="img/logo/icons8_facebook_messenger_50px.png" alt="">

                        </div>

                    </div>
                </div>
            </div>
        </div>




    </section>
    <section>
        <h5 id="service" class="h2 text-center">Service</h5>
        <div  class="service">

            <div class="col-md-3 service_item">
                <div class="text-center my-4">   <img class="" width="40px" src="img/icons8_wardrobe.ico" alt=""></div>
             
                
                   <p>Fatcoututre vous offre des magasin avec plein d article de vos choix chemise ,rode , costart ,pijama fait par nos meilleur styliste tous ceci a de bas prix  .Nous changeons pour-vous</p> 

            </div>
                <div class="col-md-3 service_item">
                    <div class="text-center my-4">   <img class="" width="40px" src="img/icons8_airplane_take_off_1.ico" alt=""></div>
                 
                  
                       <p>Nous somme par tous nous defilons dans divers pays et nous offrans la chance aussi  au  manequin debutant  de defilé pour fatcouture  </p>
                </div>

                <div class="col-md-3 service_item">
                    <div class="text-center my-4">   <img class="" width="40px" src="img/icons8_sell_stock_1.ico" alt=""></div>
                 
                    
                       <p> avec fat couture vous petite courturière et coutrturier avez la posssible de vendre vos artcile su nos site un faible taux d'interet </p> 
    
                </div>

                <div class="col-md-3 service_item">
                    <div class="text-center my-4">   <img class="" width="40px" src="img/icons8_map_editing.ico" alt=""></div>
                 
                   
                       <p>Fat coututre permet au jeune gens de pouvoir mieux faire connaitre leur  talent en stylisme et procure aux etudiants des stage pour mieux s'adapter et developper son talent</p>
                </div>
                <div class="col-md-3 service_item">
                    <div class="text-center my-4">   <img class="" width="40px" src="img/icons8_apartment.ico" alt=""></div>
                 
                  
                       <p>Des centre de formation sont desormais possible avec fat couture , une formation de 3ans avec une attestion et un diplome certifier iso 9001 .Fat couture evolue pour vous </p> <p>
    
                </div>
            <div class="col-md-3 service_item">
                <div class="text-center my-4">   <img class="" width="40px" src="img/icons8_cloakroom.ico" alt=""></div>
             
                   <p>Nous somme diposer a offrire a nos client de meilleur produit ,avec nous les coupe sur les coupe sur mesur vous y irons a meirveille car nous somme la meilleur societer qui remplit vos critere</p> 

            </div>
        </div>
    </section>

    <br>
    <section>
        <h5 id="gallery" class="h2 text-center">Gallery</h5>
      
            <div class="gallery_item">
                <div class="row">
                    <img class="col" src="img/model-600238_1920.jpg" alt="">
                    <img class="col" src="img/fashion-2939985_1920.jpg" alt="">
                    <img class="col" src="img/photographer-920128_1280.jpg" alt="">
                </div>
              <div class="row">
                  <img class="col" src="img/two-girls-1828539_1920.jpg" alt="">
                  <img class="col" src="img/baby-1399332_1920.jpg" alt="">
                  <img class="col" src="img/fashion-1866574_1920.jpg" alt="">
              </div>


            </div>
      
    </section>
    <br>
    <section>
        <h5 id="boutique" class=" text-center h2  ">Boutique</h5>
        <div class="container-fluid mt-5">
            <div class="my-5 boutique_item">
                {{ include('home/boutique.html.twig') }}

            </div>

        </div>

    </section>
    <section >
        <h5 id="contact" class="h2 text-center">Contact</h5>

        <div class=" row form_bg jumbotron-fluid  ">
            <div class="col-md-6">
                <img height="700px" src="{{ asset('img/f23134232.png') }}" alt="">
            </div>
            <div class="col-md-4 mt-5 ">
                <div class=" card form_form">
                    <div class=" alert back text4 text-center h3"> Formulaire de Contact</div>
                    <div class="card-body ">
                        {{ form_start(form) }}
                        <div class="text3 h4">{{ form_row(form.nom) }}</div>
                        <div class="text3 h4">{{ form_row(form.prenom) }}</div>
                        <div class="text3 h4">{{ form_row(form.telephone) }}</div>
                        <div class="text3 h4">{{ form_row(form.email) }}</div>
                        <div class="text3 h4">{{ form_row(form.message) }}</div>
                        <button class="btn  back" type="submit" >Envoyer</button>
                        {{ form_end(form)}}
                        
                    </div>

                </div>

            </div>

        </div>

    </section>
    <a href="#top" class="to-top scrollto">
        <i class="fa fa-chevron-up"></i>
    </a>

{% endblock %}
