{% extends 'adminbase.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Listing des contactant</h1>
        </div>
        <div>

    <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Données </h6>
    </div>
        <div class="card-body">
            <div class="table-responsive">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message  }}
                    </div>
                {% endfor %}
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>N°</th>
                        <th>Nom</th>
                        <th>Prenom </th>
                        <th>Telephone</th>
                        <th>Adresse mail  </th>
                        <th>Message</th>
                        <th>Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for contact in contacts %}
                            <tr>
                                <th>{{ contact.id }}</th>
                                <th>{{ contact.nom }}</th>
                                <th>{{ contact.prenom }}</th>
                                <th>{{ contact.telephone }}</th>
                                <th>{{ contact.email }}</th>
                                <th>{{ contact.message }}</th>
                                <th>
                                    <form action="{{ path('Contact.delete' ,{id: contact.id}) }}" onsubmit="return confirm('Etes vous vraiment sur de vouloir supprimé')">
                                        <button class="btn"> <img height="18px" src="{{ asset('img/icons8_trash_26px.png') }}" alt=""></button>
                                    </form>
                                </th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}